In [13]:
student = {
    "Name": ["Ankit", "Ashwani"," Akshansh", "Gaurav", "Krish"," Sarthak", "Swakshwar"],
    "Section": ["CH", "CH", "MP", "CH", "SS", "MP", "MP"],
    "Registration_Id": [12018329, 12016043, 12015923, 12014917, 12018275, 12018433, 12015939],
}

In [17]:
student["Section"]
# Returns a List

['CH', 'CH', 'MP', 'CH', 'SS', 'MP', 'MP']

In [14]:
import pandas as pd

In [15]:
df = pd.DataFrame(student)

In [18]:
df["Section"]
# Returns a datatype known as Series
# DataFrame basically act as a container for containing multiple Series

0    CH
1    CH
2    MP
3    CH
4    SS
5    MP
6    MP
Name: Section, dtype: object

In [21]:
type(df["Section"])

pandas.core.series.Series

In [22]:
# Dot Notation also used (Not a good Pracrice- possibility of calling an attribute of the inbuilt Pd object)
df.Section

0    CH
1    CH
2    MP
3    CH
4    SS
5    MP
6    MP
Name: Section, dtype: object

In [24]:
# Another DataFrame
df[["Section","Name"]]

  Section       Name
0      CH      Ankit
1      CH    Ashwani
2      MP   Akshansh
3      CH     Gaurav
4      SS      Krish
5      MP    Sarthak
6      MP  Swakshwar

In [25]:
df.columns

Index(['Name', 'Section', 'Registration_Id'], dtype='object')

df[number of rows you want to see, number of colums you want to see]

In [39]:
df.iloc[[1,3],[0,2]]
# df.iloc[[0,1]] - list
# df.iloc[0:3] - slice

      Name  Registration_Id
1  Ashwani         12016043
3   Gaurav         12014917

Loc uses labels as indexes instead of integers

In [42]:
df.loc[[0,4],["Name", "Section"]]

    Name Section
0  Ankit      CH
4  Krish      SS