In [12]:
student = {
    "Name": ["Ankit", "Ashwani"," Akshansh", "Gaurav", "Krish"," Sarthak", "Swakshwar"],
    "Section": ["CH", "CH", "MP", "CH", "SS", "MP", "MP"],
    "Registration_Id": [12018329, 12016043, 12015923, 12014917, 12018275, 12018433, 12015939],
}

In [13]:
import pandas as pd

In [14]:
df = pd.DataFrame(student)

This returns a Series object containing values True/False According to the criteria we have given

In [15]:
# Act as a filter or a mask
filt = df["Section"] == "CH"

In [17]:
df[filt]
# df[filt].set_index("Registration_Id").sort_index()

      Name Section  Registration_Id
0    Ankit      CH         12018329
1  Ashwani      CH         12016043
3   Gaurav      CH         12014917

AND, OR operators (&, |)

In [20]:
filt = ((df["Section"] == "CH") & (df['Name'] == "Sarthak"))

In [21]:
df[filt]
# No column met this type of filter condition

Empty DataFrame
Columns: [Name, Section, Registration_Id]
Index: []

In [22]:
filt = ((df["Section"] == "CH") & (df['Name'] == "Ankit"))

In [26]:
df.loc[filt, "Registration_Id"]

0    12018329
Name: Registration_Id, dtype: int64

In [28]:
# OR operator

filt = ((df["Section"] == "MP") | (df['Name'] == "Ankit"))
df[filt]

        Name Section  Registration_Id
0      Ankit      CH         12018329
2   Akshansh      MP         12015923
5    Sarthak      MP         12018433
6  Swakshwar      MP         12015939

To negate the filter use "-" operator

In [29]:
df.loc[-filt]

      Name Section  Registration_Id
1  Ashwani      CH         12016043
3   Gaurav      CH         12014917
4    Krish      SS         12018275

### NOTE: .sort_values(by = ["Column Name"]) to sort values according to the specified sorted column

isin() to be used when to filter out more values of a column